@use '../../scss/abstracts' as *;

.education {
	padding-top: $padding-y;
	@include responsive(xsm) {
		padding-top: 4rem;
	}
	&--row1 {
		@include responsive(xsm) {
			margin-bottom: 3rem;
		}
	}
	&--row1 [class^='column-']:nth-child(2),
	&--row1 [class^='column-']:nth-child(4){
		transform: skewY(8deg);
		@include responsive(lg) {
			transform: none;
		}
	} 

	&--row2 [class^='column-']:nth-child(1),
	&--row2 [class^='column-']:nth-child(3){
		transform: skewY(-8deg);
		@include responsive(lg) {
			transform: none;
		}
	}

	&__card {
		width: 100%;
		background: linear-gradient(110deg, $white 50%, $green-50 50%);
		margin-top: 2.5rem;
		padding: 2.5rem;
		box-shadow: -3rem 2rem 3rem -3rem rgba(52, 211, 153, 0.2);
		border-radius: .3rem;
		&__block {
			@include flexBox(null, center);
			margin-top: 1.5rem;
			&__name {
				@include flexBox(center, center);
				width: 3.5rem;
				height: 3.5rem;
				border-radius: 50%;
				box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
				&--house {
					background: $green-100;
					i {
						color: $green-600;
						font-size: 1.6rem;
					}
				}
				&--calendar {
					background: $green-200;
					color: $gray-700;
				}
			}
			&__value {
				display: inline-block;
				margin-left: 1rem;
				font-size: 1.3rem;
				font-weight: 500;
				color: $black;
				text-transform: capitalize;
				flex: 1;
			}
		}
		&__title {
			font-size: 1.3rem;
			font-weight: 700;
			line-height: 2rem;
			text-transform: uppercase;
			background: linear-gradient(45deg, $black 20%, $green-500 20%);
			color: transparent;
			background-clip: text;
			-webkit-background-clip: text;
		}
	}
}